<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/practice/head.ejs") %>
  </head>

  <body>
    <header>
      <%- include ("../partials/practice/practiceNav.ejs") %>
  </header>
  <main>
    <%- include ("../partials/practice/previewQuestion.ejs") %>
    <%- include ("../partials/practice/showResult.ejs") %>
  </main>
      


  <!-- JS scripts partials -->
  <%- include ("../partials/practice/script.ejs") %>

   <!-- Data controllers -->
  <script src="/data/datacontroller.js"></script>
  <script src="/data/biology.js"></script>
  <script src="/javascripts/controller/controller.js"></script>
  </body>
</html>